<?xml version="1.0"?>
<!DOCTYPE launch SYSTEM "https://gist.githubusercontent.com/nalt/dfa2abc9d2e3ae4feb82ca5608090387/raw/roslaunch.dtd">
<launch>
    <!-- TODO (Ben Nowotny) we should not condition on this variable in here, should be in a
    separate package-->
    <node pkg="wrevolution" type="RosPhoenix" name="RosPhoenix" output="screen"
        if="$(eval env('WROVER_HW') == 'REAL')" />
    <node pkg="wrevolution" type="MockMotors" name="RosControlTests-Mock" output="screen"
        unless="$(eval env('WROVER_HW') == 'REAL')" />
</launch>
